<html>
	<title>Debug Game</title>
	<style>
	#moves>details {
		margin-left:1em;
	}
	</style>
	<body>
		<h2>Rendered Output</h2>
		<pre>{{.Diagram}}</pre>
		<details>
			<summary>State</summary>
			<pre>{{.StateWrapper}}</pre>
		</details>
		<details>
			<summary>Chest</summary>
			<pre>{{.Chest}}</pre>
		</details>
		{{if not .Game.Finished}}
		<details id="moves">
			<summary>Moves</summary>
			{{range .Forms}}
				<details id="moves-{{.Name}}">
					<summary>Move {{.Name}}</summary>
					<form method="POST" action="/move">
						<p><em>{{.Description}}</em></p>
						<input type="hidden" name="MoveType" value="{{.Name}}">
						{{range .Fields}}
							<strong>{{.Name}}</strong>
							<!-- TODO: output different form elements based on type -->
							<input name="{{.Name}}" value="{{.DefaultValue}}">
							<br/>
						{{else}}
							<em>No modifiable fields</em>
							<br/>
						{{end}}
						<input type="submit" value="Make Move">
					</form>
				</details>
			{{end}}
		</details>
		{{end}}
		<script src="/static/script.js"></script>
	</body>
</html>