<html>
	<title>Debug Game</title>
	<body>
		<h2>Rendered Output</h2>
		<pre>{{.Diagram}}</pre>
		<details>
			<summary>State</summary>
			<pre>{{.State}}</pre>
		</details>
		<details>
			<summary>Deck</summary>
			<pre>{{.Deck}}</pre>
		</details>
	</body>
</html>